[submodule "thirdparty/The-Forge"]
	path = thirdparty/The-Forge
	url = https://github.com/ConfettiFX/The-Forge.git
[submodule "thirdparty/JoltPhysics"]
	path = thirdparty/JoltPhysics
	url = https://github.com/jrouwe/JoltPhysics
[submodule "thirdparty/Catch2"]
	path = thirdparty/Catch2
	url = https://github.com/catchorg/Catch2.git
